body {
  margin: 0;
  font-size: 14px;
  color: #262626;
}

h2 {
  font-size: 44px;
}

h4 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

p,
span {
  font-size: 14px;

  &.large {
    font-size: 18px;
  }

  &.small {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: rgb(55, 52, 144);

  &:hover {
    outline: none;
  }
}

.text-bold {
  font-weight: 600;
}

/* Color */
.color-purple {
  color: #1e52a4;
}

.color-pink {
  color: #e73d95;
}

.color-green {
  color: #7fc379;
}

.color-grey {
  color: #777;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}
