body {
  margin: 0;
  font-size: 14px;
  color: #262626;
}

h2 {
  font-size: 44px;
}

img {
  max-width: 100%;
}

p,
span {
  font-size: 14px;

  &.large {
    font-size: 18px;
  }

  &.small {
    font-size: 12px;
  }
}

.text-bold {
  font-weight: 600;
}

/* Color */
.color-purple {
  color: #1e52a4;
}

.color-pink {
  color: #ee71a9;
}

.color-grey {
  color: #777;
}